# 依赖
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 构建输出
dist

# 环境文件（除了 .env.production 作为模板）
.env
.env.local
.env.development

# 编辑器
.vscode
.idea
.DS_Store

# 测试
coverage
.nyc_output

# 日志
logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# 文档
README.md

# 其他
.prettierrc
eslint.config.mjs
nest-cli.json
tsconfig*.json